.projects-page {
    width: 100%;
    height: auto;
}

.projects-page-title {
    font-size: 50px;
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: Gill Sans;
    color: rgba(255,255,255,1);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-div {
    font-family: Gill Sans;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background: linear-gradient(85deg, rgba(106,5,245,0.9) 0%, rgba(0,141,255,0.9) 100%);
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 5px;
}

.project-div h2 {
  color: rgba(255,255,255,1);
  font-size: 28px;
    height: 2.5rem; 
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.project-div img {
    width: 550px;
    height: 350px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.project-div h3 {
  color: rgba(255,255,255,1);
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}

.project-info {
  color: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-link {
    margin-top: 0;
    color: rgba(255,255,255,1);
}

.project-nav {
    /* color: #6a05f5; */
    color: #06f754;
}

.project-nav:hover {
    text-decoration: none;
}

/* Break Points */
@media only screen and (max-width: 414px) {
    .projects-page-title {
      font-size: 30px !important;
      margin-top: 6rem !important;
      margin-bottom: 1rem;
    }
    
    .projects {
      flex-direction: column;
      align-items: center;
    }
    
    .project-div {
      width: 80%;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .project-div h2 {
      margin-left: 2rem !important;
      margin-right: 2rem !important;
      font-size: 20px;
    }
    
    .project-div img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    
    .project-div h3 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .project-info {
      flex-direction: column;
      margin-top: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 12px;
    }

    .project-link {
        font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 540px) {

    .projects-page-title {
      font-size: 30px !important;
      margin-top: 10rem;
      margin-bottom: 1rem;
    }
    
    .projects {
      flex-direction: column;
      align-items: center;
    }
    
    .project-div {
      width: 80%;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .project-div h2 {
      margin-left: 5rem;
      margin-right: 5rem;
      font-size: 20px;
    }
    
    .project-div img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    
    .project-div h3 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .project-info {
      flex-direction: column;
      margin-top: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 12px;
    }

    .project-link {
        font-size: 14px;
    }
  }
