/* .contact-page {
    width: 100%;
    height: auto;
}

.contact-div {
    width: 550px;
    font-family: Gill Sans;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: wheat;
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 5px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.input {
    font-family: Gill Sans;
}

.contact-form-div {
    width: 50%;
    display: flex;
    background-color: aqua;
    float: right;
} */

.contact-page {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.contact-div {
    font-family: Gill Sans;
    width: 750px;
    height: 450px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px;
}

.contact-title-div {
    margin: 1rem;
    height: 400px;
    position: relative;
}

.contact-title-div p {
    font-size: 18px;
}

.contact-location {
    position: absolute;
    bottom: 5rem;
}

.contact-number {
    position: absolute;
    bottom: 3rem;
    color: black;
    font-size: 16px;
}

.contact-number:hover {
    text-decoration: none;
}

.contact-email {
    position: absolute;
    bottom: 1rem;
    color: black;
}

.contact-email:hover {
    text-decoration: none;
}

.contact-title-div h1 {
    font-size: 45px;
}

.contact-title-div h3 {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}


.contact-form-div {
    background-color: white;
    border-radius: 10px;
    margin-right: 1.25rem ;
    height: 400px;
    /* opacity: 0.9; */
}

.form {
    margin: 1rem;
    font-size: 20px;
}

input {
    font-family: Gill Sans;
    font-size: 16px;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 0px 0px 3px black;
}

textarea#message {
    font-family: Gill Sans;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 3px black;
}

.contact-label {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

.button-div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    font-family: Gill Sans;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px black;

}
