.nav {
    background-color: black;
    opacity: 0.85;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item {
    font-family: Gill Sans;
    margin: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.item:hover {
    transform: scale(1.1);
}

.resume-btn {
    background-color: #22c1c3;
    border-radius: 5px;
    border: none;
}

.resume-btn:hover {
    background: linear-gradient(to left, #22c1c3, #fdbb2d);
    transform: scale(1.1);
    cursor: pointer;
}



