.nav {
    background-color: black;
    opacity: 0.85;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.item {
    font-family: Gill Sans;
    margin: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.item:hover {
    transform: scale(1.1);
}

.resume-btn {
    background-color: #22c1c3;
    border-radius: 5px;
    border: none;
}

.resume-btn:hover {
    background: linear-gradient(to left, #22c1c3, #fdbb2d);
    transform: scale(1.1);
    cursor: pointer;
}

/* Break Points */

/* iphone xr */
@media only screen 
    and (max-width: 414px)
  {
    .nav {
        display: flex;
        justify-self: center;
        padding: 0.5rem;
      }
      
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      
      .item {
        margin: 0.5rem;
        font-size: 18px;
      }
      
  }

/* iphone se */
@media only screen 
    and (max-width: 375px)
{
    .nav {
        display: flex;
        justify-self: center;
        padding: 0.5rem;
      }
      
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      
      .item {
        margin: 0.4rem;
        font-size: 18px;
      }    
    
}

/* iphone 12pro */
@media only screen 
    and (max-width: 390px) {
        .item {
            margin: 0.5rem;
        }
    }

/* galaxy s8+ */
@media only screen 
    and (max-width: 360px) {
        .item {
            margin: 0.5rem;
            font-size: 16px;
        }   
    }


/* galaxy s20 ultra */
@media screen
    and (max-width: 412px) {
    .item {
        margin: 0.6rem;
        font-size: 18px;
    }
}

/* surface pro 7 */
@media screen
    and (max-width: 912px) {
    .item {
        margin: 0.5rem;
        font-size: 25px;
    }
}

/* surface duo */
@media screen
    and (max-width: 540px) {

    .nav {
        display: flex;
        justify-self: center;
        padding: 1.25rem;
      }

    .item {
        margin: 0.5rem;
        font-size: 20px;
    }
}

/* galaxy fold */
@media screen
    and (max-width: 280px) {

    .nav {
        display: flex;
        justify-self: center;
        padding: 1rem;
    }

    .item {
        margin: 0.25rem;
        font-size: 14px;
    }
}

@media screen
    and (max-width: 1280px) {

    .nav {
        display: flex;
        justify-self: center;
        padding: 1.75rem;
    }

    .item {
        margin: 0.75rem;
        font-size: 24px;
    }
}