.nav {
    background-color: rgba(0,0,0,1);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    position: fixed 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.item {
    font-family: Gill Sans;
    margin: 10px;
    color: rgba(255,255,255,1);
    font-size: 20px;
    text-decoration: none;
}

.item:hover {
    transform: scale(1.1);
}

.resume-btn {
    background-color: rgba(00,106,191,1);
    border-radius: 5px;
    border: none;
}

.resume-btn:hover {
    background: linear-gradient(to left, rgba(00,106,191,1), rgba(80,4,184,1));
    transform: scale(1.1);
    cursor: pointer;
}


/* keep old breakpoints if want to revisit various sizes */
/* Break Points */

/* galaxy fold */
@media screen
    and (min-width: 280px) {

    .nav {
        display: flex;
        justify-self: center;
        padding: 1rem !important;
    }

    .item {
        margin: 0.25rem !important;
        font-size: 14px !important;
    }
}

/* galaxy s8+ */
@media screen 
    and (min-width: 340px)
     {
        .item {
            margin: 0.8rem ;
            font-size: 16px !important;
        }   
    }

@media screen and (min-width:360px) {
    .item {
        
        font-size: 18px !important;
    }
}

/* iphone xr */
@media screen 
    and (max-width: 414px)
  {
    .nav {
        position: fixed;
        width: 97%;
        display: flex;
        justify-self: center;
        padding: 0.5rem;
      }
      
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      
      .item {
        margin: 0.5rem;
        font-size: 16px;
      }
      
  }


